<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_campaign.css">
    <title>Campaign</title>
</head>
<body>
    <div class="tabs-container">
        <ul aria-labelledby="tabs-title">
            <li><a id="tab-1" href="#steps">Steps</a></li>
            <li><a id="tab-2" href="#prospects">Prospects</a></li>
            <li><a id="tab-3" href="#settings">Settings</a></li>
        </ul>

        <div class="tabs__panels flow">
            <div id="steps" aria-labelledby="tab-1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem vel aut placeat expedita vero totam, explicabo et exercitationem minima dignissimos ut enim atque nulla culpa laudantium eveniet porro corporis aspernatur?</p>
            </div>
            <div id="prospects" aria-labelledby="tab-2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur libero ab eius distinctio ipsum impedit, unde nesciunt accusamus facere autem non sequi soluta ut sapiente minus vero sint dicta. Quaerat?</p>
            </div>
            <div id="settings" aria-labelledby="tab-2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente error fugiat a maxime ex? Repellat pariatur sapiente odio laudantium amet laboriosam explicabo doloribus similique, illum voluptate excepturi quidem veniam necessitatibus.</p>
            </div>
        </div>
    </div>
    <script src="campaign.js"></script>
</body>
</html>