<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_campaign.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Function to hide and remove a flash message
        function removeFlashMessage(element) {
            $(element).fadeOut('slow', function () {
                $(this).remove();
            });
        }
        // Function to hide and clear flash messages after a certain duration
        function clearFlashMessages() {
            setTimeout(function () {
                $('.flash-message').fadeOut('slow', function () {
                    $(this).remove();
                });
            }, 8000);
        }

        // Call the function when the page is loaded
        $(document).ready(function () {
            clearFlashMessages();

            // Event listener to remove flash message on cross icon click
            $('.flash-message .close-icon').on('click', function () {
                removeFlashMessage($(this).closest('.flash-message'));
            });
        });
    </script>
    <title>Campaign</title>
</head>

<body>
    <!-- Flash message code -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-message">
        {% for message in messages %}
        <div>
            <span>{{ message }}</span>
            <div class="close-icon-container">
                <span class="close-icon"><i class="fa-solid fa-xmark"></i></span>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <!-- Flash message code - end -->

    <header>
        <nav>
            <div class="logo">
                <img class="logos" src="/static/images/mailer_logo_black.png" alt="Mailer_Logo">
                <input type="text" placeholder="New Campaign">
            </div>
            <div class="user_action">
                <button id="logout-button">Logout</button>
            </div>
        </nav>
    </header>
    <div class="steps-header">
        <button class="steps">Steps</button>
        <button class="add-step">Add Step</button>
    </div>
    <script src="campaign.js"></script>
</body>

</html>