<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_campaign.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Function to hide and remove a flash message
        function removeFlashMessage(element) {
            $(element).fadeOut('slow', function () {
                $(this).remove();
            });
        }
        // Function to hide and clear flash messages after a certain duration
        function clearFlashMessages() {
            setTimeout(function () {
                $('.flash-message').fadeOut('slow', function () {
                    $(this).remove();
                });
            }, 8000);
        }

        // Call the function when the page is loaded
        $(document).ready(function () {
            clearFlashMessages();

            // Event listener to remove flash message on cross icon click
            $('.flash-message .close-icon').on('click', function () {
                removeFlashMessage($(this).closest('.flash-message'));
            });
        });
    </script>
    <title>Campaign</title>
</head>

<body>
    <!-- Flash message code -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-message">
        {% for message in messages %}
        <div>
            <span>{{ message }}</span>
            <div class="close-icon-container">
                <span class="close-icon"><i class="fa-solid fa-xmark"></i></span>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <!-- Flash message code - end -->

    <header>
        <nav>
            <div class="logo">
                <img class="logos" src="/static/images/mailer_logo_black.png" alt="Mailer_Logo">
                <input type="text" placeholder="New Campaign">
            </div>
            <div class="user_action">
                <button id="logout-button">Logout</button>
            </div>
        </nav>
    </header>
    <div class="steps-header">
        <h1>Steps</h1>
        <button class="add-step">Add Step</button>
    </div>
    <div class="steps-icons">
        <div class="steps-icon">
            <i class="fa-solid fa-envelope"></i>
            <p>Step 1</p>
            <p>Day 1</p>
            <i class="fa-solid fa-angle-down"></i>
            <input type="text" style="display: none;">
        </div>
        <i class="fa-solid fa-paper-plane"></i>
        <p>Sending as a new mail on Monday, 10th July 2023, if activated today.</p>
    </div>
    <div class="mail-desc">
        <i class="fa-solid fa-a"></i>
        <div class="mail-dtls">
            <h3>Can I help you with this? &#123;&#123; First Name | 'there' &#125;&#125;</h3>
            <p>&#123;spin&#125;Hi|Hello|Hey&#123;endspin&#125; &#123;&#123; First Name | 'there' &#125;&#125;, I hope
                this email finds you well. I'll keep it short. At YOUR_COMPANY...</p>
        </div>
    </div>
    <div class="steps-icons">
        <div class="steps-icon">
            <i class="fa-solid fa-envelope"></i>
            <p>Step 2</p>
            <p>Day 3</p>
            <i class="fa-solid fa-angle-down"></i>
            <input type="text" style="display: none;">
        </div>
        <i class="fa-solid fa-reply"></i>
        <p>Sending as same thread on Wednesday, 12th July 2023, as step 1 is sent on Monday, 10th July 2023.</p>
    </div>
    <div class="mail-desc">
        <i class="fa-solid fa-a"></i>
        <div class="mail-dtls">
            <h3>Can I help you with this? &#123;&#123; First Name | 'there' &#125;&#125;</h3>
            <p>&#123;spin&#125;Hi|Hello|Hey&#123;endspin&#125; &#123;&#123; First Name | 'there' &#125;&#125;, I hope
                this email finds you well. I'll keep it short. At YOUR_COMPANY...</p>
        </div>
    </div>
    <div class="steps-icons">
        <div class="steps-icon">
            <i class="fa-solid fa-envelope"></i>
            <p>Step 3</p>
            <p>Day 7</p>
            <i class="fa-solid fa-angle-down"></i>
            <input type="text" style="display: none;">
        </div>
        <i class="fa-solid fa-reply"></i>
        <p>Sending as same thread on Monday, 17th July 2023, as step 2 is sent on Wednesday</p>
    </div>
    <div class="mail-desc">
        <i class="fa-solid fa-a"></i>
        <div class="mail-dtls">
            <h3>Can I help you with this? &#123;&#123; First Name | 'there' &#125;&#125;</h3>
            <p>&#123;spin&#125;Hi|Hello|Hey&#123;endspin&#125; &#123;&#123; First Name | 'there' &#125;&#125;, I hope
                this email finds you well. I'll keep it short. At YOUR_COMPANY...</p>
        </div>
    </div>
    <script src="campaign.js"></script>
</body>

</html>