<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/images/mailer_logo_black_favicon.png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_index.css')}}">
    <title>Mailers</title>
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img class="logos" src="static/images/mailer_logo_black.png" alt="Mailer_Logo">
            </div>
            <div class="user_action">
                <button onclick="location.href='/users/login'">Login</button>
                <button onclick="location.href='/users/register'">Get Started</button>
            </div>
        </nav>
    </header>
    <main>
        <div class="section-one">
            <h1>Revolutionize Your Lead Generation <span>with mailer</span></h1>
            <p>Welcome to the future of lead generation! Say goodbye to manual email campaigns and hello to effortless
                automation. Our free email automation service is here to supercharge your business by streamlining your
                lead generation process. Spend less time on repetitive tasks and more time connecting with potential
                customers. Let our powerful tools and personalized campaigns do the work for you. Get ready to take your
                business to new heights with our innovative, easy-to-use platform. Sign up today and experience the
                power of free email automation firsthand.</p>
            <h1>And <span>it's free!</span></h1>
            <p>You heard it right! We are giving free access to everyone.</p>
            <div class="no-flex">
                <button onclick="location.href='/users/register'">Get Started</button>
                <button no-flex" onclick="location.href='/users/login'">Login</button>
            </div>
        </div>
        <div class="section-two">
            <img src="static/images/vector.jpg" alt="Vector">
        </div>
    </main>
    <div class="footer_container">
        <footer>
            <div class="copyright">
                <div>mailer © 2023.&nbsp;</div>
                <div>All rights reserved</div>
            </div>
            <img class="logos" src="static/images/mailer_logo_white.png" alt="Mailer_Logo">
        </footer>
    </div>
</body>

</html>